<link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />

<section>
    <h3 class="feature-header">About</h3>

    <div class="feature-content">
        <div class="feature-text">
            <p>Cupcake ipsum dolor sit amet I love caramels chocolate cake. Toffee toffee liquorice cotton candy jelly beans caramels oat cake croissant sweet roll. Gummi bears donut bonbon dessert muffin pudding. Jelly I love macaroon dragée candy canes sweet roll.</p>

            <p>Cupcake tiramisu lollipop lemon drops marzipan jelly fruitcake. Gummi bears chocolate cake sesame snaps soufflé gingerbread danish topping donut icing. Fruitcake chocolate toffee liquorice fruitcake gummi bears.</p>
        </div>

        <img class="feature-image" src="./images/about.png"  alt="sample cake from mad batter bakery"  />
    </div>
</section>