<link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />

<div>
    <h3 class="header">About</h3>
    <p>Cupcake ipsum dolor sit amet I love caramels chocolate cake. Toffee toffee liquorice cotton candy jelly beans caramels oat cake croissant sweet roll. Gummi bears donut bonbon dessert muffin pudding. Jelly I love macaroon dragée candy canes sweet roll.</p>

    <p>Cupcake tiramisu lollipop lemon drops marzipan jelly fruitcake. Gummi bears chocolate cake sesame snaps soufflé gingerbread danish topping donut icing. Fruitcake chocolate toffee liquorice fruitcake gummi bears.</p>
</div>