<link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
<div class="bakedgoods">
     <% @cakes.each do |cake|%>
        <div class="bakedgood">
            <div class="bakedgood-image"><img class="bakedgood-img" src="<%= cake.image %>"/></div>
            <div class="bakedgood-name"><b><%= cake.name %></b></div>
            <div class="bakedgood-price">Price: $<%= cake.price %></div>
        </div>
      
    <%end%>

   