<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mad Batter Bakery</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="images/madbatter.ico">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    </head>

    <body>
        <header>
            <div class="banner">
                <a class="title" href="/">
                    <img class="logo" src="./images/madbatter.png" alt="logo of bakery" />
                    <h2 class="bakery-name">Mad Batter Bakery</h2>
                </a>
            </div>

            <div class="navigation-bar">
                <a class="menu-item" href="/about">About</a>

                <a class="menu-item" href="/menu">Menu</a>

                <a class="menu-item" href="/location">Location</a>
            </div>
        </header>

        <div class="main-outer flex-col" style="background-color:mistyrose">
            <div class="flex-col">
                <div class="feature-top">
                    <a href="/cookies">
                        <div class="flex-col">
                            <div class="baked-row1 flex-row">
                                <div class="cookie maroon top-cookie"></div>
                            </div>
                            <div class="baked-row2 flex-row">
                                <div class="cookie peru"></div>
                                <div class="cookie maroon"></div>
                            </div>
                            <div class="flex-row" style="width: 90%">
                                <div class="cookie maroon"></div>
                                <div class="cookie gold"></div>
                                <div class="cookie gold"></div>
                            </div>
                            <div class="tin-row1 rebeccapurple"></div>
                        </div>
                    </a>
                    <a href="/cakes">
                        <div class="flex-col cake">
                            <div class="flex-row" id="cherries">
                                <div class="cherries"></div>
                                <div class="cherries"></div>
                                <div class="cherries"></div>
                                <div class="cherries"></div>
                                <div class="cherries"></div>
                            </div>
                            <div class="frosting"></div>
                            <div class="cake-layer"></div>
                            <div class="frosting"></div>
                            <div class="cake-layer"></div>
                            <div class="tin-row1 turquoise"></div>
                            <div class="pedestal"></div>
                            <div class="tin-row2 turquoise"></div>
                        </div>
                    </a>
                    <a href="/muffins">
                        <div class="flex-col">
                            <div class="baked-row1 flex-row">
                                <div class="flex-col">
                                    <div class="muffintop maroon top-muffin"></div>
                                    <div class="muffinbot fuchsia top-muffin"></div>
                                </div>
                            </div>
                            <div class="baked-row2 flex-row">
                                <div class="flex-col">
                                    <div class="muffintop pink"></div>
                                    <div class="muffinbot fuchsia"></div>
                                </div>
                                <div class="flex-col">
                                    <div class="muffintop white"></div>
                                    <div class="muffinbot cornflowerblue"></div>
                                </div>
                            </div>
                            <div class="flex-row" style="width: 90%">
                                <div class="flex-col">
                                    <div class="muffintop maroon"></div>
                                    <div class="muffinbot fuchsia"></div>
                                </div>
                                <div class="flex-col">
                                    <div class="muffintop gold"></div>
                                    <div class="muffinbot rebeccapurple"></div>
                                </div>
                                <div class="flex-col">
                                    <div class="muffintop pink"></div>
                                    <div class="muffinbot cornflowerblue"></div>
                                </div>
                            </div>
                            <div class="tin-row1 limegreen"></div>
                        </div>
                    </a>
                    <div class="register-draw flex-col">
                        <div class="register-pad flex-col">
                            <div class="register-stand"></div>
                        </div>
                        <div class="register-base"></div>
                    </div>
                </div>
                <div class="feature-bottom flex-col">
                    <div class="table-top"></div>
                    <div class="table-bottom">
                        <div class="locations">
                            <span><u>LOCATIONS</u><br/>
                            123 Madison Ave<br/>
                            New York, NY<br/>
                            <br/>
                            456 Fashion Ave<br/>
                            New York, NY<br/>
                            <br>
                            789 10th Ave<br/>
                            New York, NY</span>
                        </div>
                        <div class="hours">
                            <span><u>HOURS</u><br/>
                            MON - THU...6AM - 11PM<br/>
                            FRI & SAT..........6AM - 1AM <br/>
                            SUN...................6AM - 11PM</span>
                        </div>
                    </div>
                </div>
                <div class="floor"></div>
            </div>
        </div>

        <footer>
            <div>
                <a href="https://facebook.com">
                    <i class="fab fa-facebook-square"></i>
                </a>

                <a href="https://instagram.com">
                    <i class="fab fa-instagram"></i>
                </a>

                <a href="https://twitter.com">
                    <i class="fab fa-twitter-square"></i>
                </a>
            </div>
        </footer>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      </body>
</html>