<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mad Batter Bakery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/madbatter.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />

</head>
<body>
    <header>
        <div class="header-top flex-col">
            <a href="/"><div class="logo flex-col">Mad Batter<br/>Bakery</div></a>
        </div>
        <div class="navigation-bar">
            <a href="/cookies"><div class="tab flex-row" id="cookies">cookies</div></a>
            <a href="/cakes"><div class="tab flex-row" id="cakes">cakes</div></a>
            <a href="/muffins"><div class="tab flex-row" id="muffins">muffins</div></a>
        </div>
    </header>
    <section class="flex-col">      
        <div class="main-outer" class="main" style="background-color:mistyrose">
            <div class="main-inner" class="main">
                <div class="feature-top">
                   <a href="/cookies">
                        <div class="cookie-draw flex-col">
                            <div class="baked-row2 flex-row">
                                <div class="cookie" id="cookie1"></div>
                            </div>
                            <div class="baked-row1 flex-row">
                                <div class="cookie" id="cookie2"></div>
                                <div class="cookie" id="cookie1"></div>
                            </div>
                            <div class="baked-row flex-row">
                                <div class="cookie" id="cookie1"></div>
                                <div class="cookie" id="cookie3"></div>
                                <div class="cookie" id="cookie3"></div>
                            </div>
                            <div class="tin-row" id="tin1"></div>
                        </div>
                     </a>
                     <a href="/cakes">
                        <div class="cake-draw flex-col">
                            <div class="cake-top flex-row">
                                <div class="cherries"></div>
                                <div class="cherries"></div>
                                <div class="cherries"></div>
                                <div class="cherries"></div>
                                <div class="cherries"></div>
                            </div>
                            <div class="cake-layer1"></div>
                            <div class="cake-layer2"></div>
                            <div class="cake-layer1"></div>
                            <div class="cake-layer2"></div>
                            <div class="tin-row"></div>
                            <div class="pedestal"></div>
                            <div class="tin-row1"></div>
                        </div>
                    </a>
                    <a href="/muffins">
                        <div class="muffin-draw flex-col">
                            <div class="baked-row2 flex-row">
                                <div class="muffin flex-col">
                                    <div class="muffintop" id="cookie1"></div>
                                    <div class="muffinbot" id="muffinbot3"></div>
                                </div>
                            </div>
                            <div class="baked-row1 flex-row">
                                <div class="muffin flex-col">
                                    <div class="muffintop" id="cookie4"></div>
                                    <div class="muffinbot" id="muffinbot3"></div>
                                </div>
                                <div class="muffin flex-col">
                                    <div class="muffintop" id="cookie5"></div>
                                    <div class="muffinbot" id="muffinbot1"></div>
                                </div>
                            </div>
                            <div class="baked-row flex-row">
                                <div class="muffin flex-col">
                                    <div class="muffintop" id="cookie1"></div>
                                    <div class="muffinbot" id="muffinbot3"></div>
                                </div>
                                <div class="muffin flex-col">
                                    <div class="muffintop" id="cookie3"></div>
                                    <div class="muffinbot" id="muffinbot2"></div>
                                </div>
                                <div class="muffin flex-col">
                                    <div class="muffintop" id="cookie4"></div>
                                    <div class="muffinbot" id="muffinbot1"></div>
                                </div>
                            </div>
                            <div class="tin-row" id="tin2"></div>
                        </div>
                    </a>
                    <div class="register-draw flex-col">
                        <div class="register-pad flex-col">
                            <div id="register-stand"></div>
                        </div>
                        <div id="register-base"></div>

                    </div>
                </div>
                <div id="feature-bottom">
                    <div id="table-top"></div>
                    <div id="table-bottom">
                        <div id="locations">
                            <span><u>LOCATIONS</u><br/>
                            123 Madison Ave<br/>
                            New York, NY<br/>
                            <br/>
                            456 Fashion Ave<br/>
                            New York, NY<br/>
                            <br>
                            789 10th Ave<br/>
                            New York, NY</span>
                        </div>
                        <div id="hours">
                            <span><u>HOURS</u><br/>
                            MON - THU...6AM - 11PM<br/>
                            FRI & SAT..........6AM - 1AM <br/>
                            SUN...................6AM - 11PM</span>
                        </div>
                    </div>
                </div>
                <div id="floor">
                </div>
            </div>
        </div>
    </section>
    <footer class="flex-col">
        <div class="social">
            <a href="https://facebook.com"><i class="fab fa-facebook-square"></i></a>
            <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com"><i class="fab fa-twitter-square"></i></a>
        </div>
        XLISACHAN ©2018 
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>