<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mad Batter Bakery</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="images/madbatter.ico">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    </head>

    <body>
        <header>
            <div class="banner">
                <a class="title" href="/">
                    <img class="logo" src="./images/madbatter.png" alt="logo of bakery" />
                    <h2 class="bakery-name">Mad Batter Bakery</h2>
                </a>
            </div>

            <div class="navigation-bar">
                <a class="menu-item" href="/about">About</a>

                <a class="menu-item" href="/menu">Menu</a>

                <a class="menu-item" href="/locations">Locations</a>
            </div>
        </header>

        <main class="main-outer gold">
            <div class="feature-top">
                <div class="goods">
                    <a href="/cookies">
                        <div class="group">
                            <div class="row-30">
                                <div class="cookie maroon top-cookie"></div>
                            </div>

                            <div class="baked-row row-60">
                                <span class="cookie peru"></span>
                                <span class="cookie maroon"></span>
                            </div>

                            <div class="baked-row row-100">
                                <span class="cookie maroon"></span>
                                <span class="cookie peru"></span>
                                <span class="cookie peru"></span>
                            </div>

                            <div class="tin-row1 rebeccapurple"></div>
                        </div>
                    </a>

                    <a href="/cakes">
                        <div class="group">
                            <div class="baked-row" id="cherries">
                                <span class="cherry"></span>
                                <span class="cherry"></span>
                                <span class="cherry"></span>
                                <span class="cherry"></span>
                                <span class="cherry"></span>
                            </div>

                            <div class="cake">
                                <div class="frosting"></div>
                                <div class="cake-layer"></div>
                                <div class="frosting"></div>
                                <div class="cake-layer cake-bottom"></div>
                            </div>

                            <div class="platter">
                                <div class="tin-row1 darkturquoise"></div>
                                <div class="pedestal darkturquoise"></div>
                                <div class="tin-row2 darkturquoise"></div>
                            </div>
                        </div>
                    </a>

                    <a href="/muffins">
                        <div class="group">
                            <div class="row-30">
                                <div class="good">
                                    <div class="muffintop maroon"></div>
                                    <div class="muffinbot top-muffin"></div>
                                </div>
                            </div>

                            <div class="baked-row row-60">
                                <span class="good">
                                    <div class="muffintop pink"></div>
                                    <div class="muffinbot darkviolet"></div>
                                </span>

                                <span class="good">
                                    <div class="muffintop white"></div>
                                    <div class="muffinbot limegreen"></div>
                                </span>
                            </div>

                            <div class="baked-row row-100">
                                <span class="good">
                                    <div class="muffintop maroon"></div>
                                    <div class="muffinbot limegreen"></div>
                                </span>

                                <span class="good">
                                    <div class="muffintop peru"></div>
                                    <div class="muffinbot cornflowerblue"></div>
                                </span>

                                <span class="good">
                                    <div class="muffintop pink"></div>
                                    <div class="muffinbot darkviolet"></div>
                                </span>
                            </div>

                            <div class="tin-row1 hotpink"></div>
                        </div>
                    </a>
                </div>

                <div class="counter">
                    <div class="counter-top"></div>
                    <div class="counter-bottom"></div>
                </div>
            </div>

            <div class="floor"></div>
        </main>

        <footer>
            <div>
                <a href="https://facebook.com">
                    <i class="fab fa-facebook-square"></i>
                </a>

                <a href="https://instagram.com">
                    <i class="fab fa-instagram"></i>
                </a>

                <a href="https://twitter.com">
                    <i class="fab fa-twitter-square"></i>
                </a>
            </div>
        </footer>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      </body>
</html>