<link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />

<div class="feature-content">
    <div>
        <section>
            <h3 class="feature-header">Locations</h3>

            <div class="feature-text">
                <p>
                    123 Madison Ave
                    <br/>
                    New York, NY 10016
                </p>

                <p>
                    456 Fashion Ave
                    <br/>
                    New York, NY 10123
                </p>
                
                <p>
                    789 10th Ave
                    <br/>
                    New York, NY 10019
                </p>
            </div>
        </section>

        <section>
            <h3 class="feature-header">HOURS</h3>

            <div class="feature-text">
                <div class="baked-row">
                    <span class="days">
                        MON - THU
                    </span>
                    
                    <span>
                        8:00AM - 10:00PM
                    </span>
                
                </div>

                <div class="baked-row">
                    <span class="days">
                        FRI & SAT
                    </span>
                    
                    <span>
                        8:00AM - 12:00AM
                    </span>
                
                </div>

                <div class="baked-row">
                    <span class="days">
                        SUN
                    </span>
                    
                    <span>
                        10:00AM - 9:30PM
                    </span>
                </div>
            </div>
        </section>
    </div>

    <img class="feature-image2" src="./images/location.jpg" alt="locations of mad batter bakeries" />
</div>