<link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />

<div>
    <h3 class="header">Locations</h3>

    <p>
        123 Madison Ave
        <br/>
        New York, NY 10016
    </p>

    <p>
        456 Fashion Ave
        <br/>
        New York, NY 10123
    </p>
    
    <p>
        789 10th Ave
        <br/>
        New York, NY 10019
    </p>
</div>