<link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />

<div class="feature-content">
    <div>
        <section>
            <h3 class="feature-header">Locations</h3>

            <div class="feature-text">
                <p>
                    123 Madison Ave
                    <br/>
                    New York, NY 10016
                </p>

                <p>
                    456 Fashion Ave
                    <br/>
                    New York, NY 10123
                </p>
                
                <p>
                    789 10th Ave
                    <br/>
                    New York, NY 10019
                </p>
            </div>
        </section>

        <section>
            <h3 class="feature-header">HOURS</h3>

            <div class="feature-text">
                <p>
                    <span style="width: 88px">
                        MON - THU
                    </span>
                    
                    <span>
                        6AM - 11PM
                    </span>
                
                    <br/>

                    <span style="width: 88px">
                        FRI & SAT
                    </span>
                    
                    <span>
                        6AM - 1AM
                    </span>
                
                    <br />

                    <span style="width: 88px">
                        SUN
                    </span>
                    
                    <span>
                        6AM - 11PM
                    </span>
                </p>
            </div>
        </section>
    </div>

    <img src="./images/location.jpg" alt="locations of mad batter bakeries" />
</div>