<link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />

<section>
    <h3 class="feature-header">Menu</h3>

    <div class="feature-main feature-sign">
        <div class="feature-menu">
            <a href="/cakes">cakes</a>
            <a href="/cookies">cookies</a>
            <a href="/muffins">muffins</a>
        </div>

        <div class="feature-menu-bg">
            <div class="feature-menu-stand"></div>
            <div class="feature-menu-ground"></div>
        </div>
    </div>
</section>