@import './partials/colors';
@import './partials/fonts';
@import './partials/mixins';
@import './partials/variables';

body{
    @include flexbox(flex, column, center, flex-start, 100%);
    font-family: $content;

    a, a:active, a:link, a:visited{
        letter-spacing: 1.5px;
        text-decoration: none;
    }

    a:hover{
        color: mistyrose;
        letter-spacing: 1.5px;
        text-decoration: none;
    }
}

.flex-col{
    @include flexbox(flex, column, center, center, 100%);
}

.flex-row{
    @include flexbox(flex, row, center, center, 100%);
}

.uppercase{
    text-transform: uppercase;
}

header{
    width: 100%;
}

.header-top{
    height: 13vh;
    background: repeating-linear-gradient(
        to right,
        $banner-dark,
        $banner-dark 40px,
        $banner-med 40px,
        $banner-med 90px
    );
}

.logo{
    @include whbgc(30vw, 10vh, beige);
    font-family: $logo;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    line-height: 0.9;
    border: 5px dotted black;
    border-radius: 50%;
    color:black;
}

.navigation-bar{
    @include flexbox(flex, row, center, space-evenly, 100%);
    margin-bottom: 5vh;
    a {
        width: 100%;
    } 
}
        
.tab{
    background: repeating-linear-gradient(
        to right,
        $banner-dark,
        $banner-dark 40px,
        $banner-med 40px,
        $banner-med 90px
    );
    width: 100%;
    height: 7vh;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px 10px 100px 100px;
    box-shadow: 5px 10px 18px #888888;
    color: white;
}

.main-outer{
    @include flexbox(flex, column, center, flex-start, 90%);
    height: 66vh;
    margin-top: 1vh;
    border-radius: $register-border-radius;
    overflow: scroll;
    box-shadow: 5px 10px 18px #888888;
}

.main-inner{
    @include flexbox(flex, column, center, flex-end, 100%);
}

//index
.feature-top{
    @include flexbox(flex, row, flex-end, center, 90%);
    position: relative;
    top: 80px;
    a, a:active, a:link, a:visited{
        width: 23%;
    }
}

.muffin-draw{
    width: 80%;
    margin: 2px;
}

.cookie-draw{
    margin: 2px;
}

.baked-row1{
    width: 70%;
}

.baked-row2{
    width: 35%;
}

.cookie{
    width: 100%;
    margin: 1px;
    height: 1.3vh;
    border-radius: 10px 10px 0px 0px;
}

.muffintop{
    margin: 1px;
    width: 80%;
    height: 1.5vh;
    border-radius: 10px 10px 0px 0px;
}

.cherries{
    width: 1.5vh;
    height: 1.5vh;
    border-radius: 50%;
    background-color: crimson;
}

.frosting{
    @include whbgc(90%, 1vh, beige);
    margin: 0px 2px;
    box-shadow: 5px 10px 18px #888888;
}

.cake-layer{
    @include whbgc(90%, 2vh, $fudge);
    margin: 0px 2px;
    border-radius: 0px 0px 5px 5px;
}

.muffintop{
    margin: 1px;
    width: 80%;
    height: 1.5vh;
    border-radius: 10px 10px 0px 0px;
}

.muffinbot{
    width: 80%;
    height: 0; 
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 10px solid;
}

.pedestal{
    @include whbgc(8%, 4vh, turquoise);
    margin: -2px;
    box-shadow: 5px 10px 18px #888888;
}

.tin-row{
    margin: 2px 2px;
    width: 90%;
    height: 1vh;
    box-shadow: 5px 10px 18px #888888;
}

.tin-row1{
    @extend .tin-row;
    border-radius: 0px 0px 10px 10px;
}
.tin-row2 {
    @extend .tin-row;
    border-radius: 10px 10px 0px 0px;
}

.register-draw{
    width: 20%;
}

.register-pad{
    @include whbgc(100%, 10vh, white);
    border-radius: $register-border-radius;
    box-shadow: 5px 10px 18px #888888;
    position: relative;
    top: -20px;
    z-index: 0;
}

.register-stand{
    @include whbgc(10%, 9vh, white);
    border-radius: $register-border-radius;
    box-shadow: 5px 3px 10px #888888;
    position: relative;
    top: 30px;
    z-index: 2;
}

.register-base{
    @include whbgc(90%, 1vh, white);
    border-radius: $register-border-radius;
    box-shadow: 5px 10px 18px #888888;
    margin-bottom: 3px;
}

.feature-bottom{
    @include flexbox(flex, column, center, flex-start, 100%);
    position: relative;
    top: 80px;
}

.table-top{
    border-radius: 2px;
    background-color: $banner-dark;
    box-shadow: 5px 10px 18px #888888;
    width: 80%;
    height: 2vh;
}

.table-bottom{
    @include flexbox(flex, row, flex-start, space-around, 80%);
    height: 30vh;
    margin: 2px 0px 20px 0px;
    padding: 6px 5px 5px 5px;
    border-radius: 5px;
    background-color: #83663D;
    color: white;
    font-size: 2vh;
    text-align: center;
    z-index: 1;
}

.floor{
    @include whbgc(100%, 19vh, #eee);
    background-image:
        linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), 
        linear-gradient(45deg, rgb(0, 0, 0) 25%, transparent 25%, transparent 75%, black 75%, black);
    background-size:60px 60px;
    background-position:0px 0px, 30px 30px;
    z-index: 0;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: gray;
    letter-spacing: 1.5px;
    a {
        color: gray;
    }
}

// feature pages
.bakedgoods{
    @include flexbox(flex, row, flex-start, space-evenly, 100%);
    flex-flow: row wrap;
}

.modal-title{
    white-space: nowrap;
}

.btn, .btn-primary{
    @include flexbox(flex, column, center, space-around, 30%);
    margin: 10px 5px;
    padding: 10px;
    background-color: white;
    border-color: white;
    color: black;
    font-family: 'Lato', sans-serif;
    text-align: center;

    & :hover {
        background-color: beige;
        
    }
}

.bakedgood{
    width: 100%;
}

.bakedgood-image {
    text-align: center;
}

.bakedgood-img {
    width: 90%;
    height: auto;
}

// colors
#flavor1{
    background-color: $chocolate;
}

#flavor2{
    background-color: $vanilla;
}

#flavor3{
    background-color: $golden-brown;
}

#flavor4{
    background-color: pink;
}

#flavor5{
    background-color: white;
}

#tin{
    background-color: rebeccapurple;
}

#tin1 {
    background-color: turquoise;
}

#tin2{
    background-color: #00B950;
}

#wrapper1{
    color: turquoise;
}

#wrapper2{
    color: rebeccapurple;
}

#wrapper3{
    color: fuchsia;
}

#turquoise{
    color: turquoise;
}

// @media (min-width: break(415px)){
//     .btn, .btn-primary{
//             width: 40%;
//     }
// }

// @media (min-width: break(320px)){
//     .main-outer{
//         height: 66vh;
//     }

//     .table-bottom{
//         font-size: 1.5vh;
//     }

//     .btn, .btn-primary{
//     width: 100%;
//     }

//     footer{
//         .social{
//             a {
//                 font-size: 1.25em;   
//             }
//         }
//     }
// }