@import 'mixins';
@import 'fonts';
@import 'colors';

body{
    @include flexbox(flex, column, center, flex-start);
    width: 100%;

    a, a:active, a:link, a:visited{
        color: white;
        letter-spacing: 1.5px;
    }

    a:hover{
        color: mistyrose;
        letter-spacing: 1.5px;
        text-decoration: none;
    }
}

header{
    width: 100%;
    #header-middle{
        @include flexbox(flex, column, center, center);
        width: 100%;
        padding: 20px;
        background: repeating-linear-gradient(
            to right,
            $banner-dark,
            $banner-dark 40px,
            $banner-med 40px,
            $banner-med 90px
        );
        #logo{
            @include flexbox(flex, column, center, center);
            width: 225px;
            height: 80px;
            font-family: $logo;
            font-size: 200%;
            font-weight: bold;
            text-align: center;
            letter-spacing: 1px;
            line-height: 0.9;
            background-color: beige;
            border: 5px dotted black;
            border-radius: 50%;
        }
    }
    #navigation-bar{
        @include flexbox(flex, row, center, space-evenly);
        width: 100%;
        margin-bottom: 20px;
        a {
            width: 100%;
        }
        .tab{
            @include flexbox(flex, row, center, center);
            background: repeating-linear-gradient(
                to right,
                $banner-dark,
                $banner-dark 40px,
                $banner-med 40px,
                $banner-med 90px
            );
            width: 100%;
            height: 60px;
            font-size: 120%;
            font-weight: bold;
            text-align: center;
            border: 2px solid black;
            border-radius: 10px 10px 100px 100px;
            box-shadow: 5px 10px 18px #888888;
        }
    }
}
        
section{
    @include flexbox(flex, column, center, center);
    width: 100%;
    #main-outer{
        @include flexbox(flex, column, center, flex-start);
        margin-top: 10px;
        border-radius: 10px 10px 10px 10px;
        height: 480px;
        width: 90%;
        overflow: scroll;
        box-shadow: 5px 10px 18px #888888;
        #main-inner{
            @include flexbox(flex, column, center, flex-end);
            width: 100%;
            #feature-top{
                @include flexbox(flex, row, flex-end, center);
                width: 90%;
                position: relative;
                top: 100px;
                a, a:active, a:link, a:visited{
                    width: 23%;
                }
                #cookie-draw{
                    @include flexbox(flex, column, center, center);
                    width: 100%;
                    margin: 2px;
                    .cookie-row{
                        @include flexbox(flex, row, center, center);
                        width: 100%;
                        .cookie{
                            margin: 1px;
                            width: 100%;
                            height: 10px;
                            border-radius: 10px 10px 0px 0px;
                        }
                        #cookie1{
                            background-color: $chocolate;
                            
                        }
                        #cookie3{
                            background-color: $golden-brown;
                        }
                    }
                    .cookie-row1{
                        @include flexbox(flex, row, center, center);
                        width: 70%;
                        .cookie{
                            margin: 1px;
                            width: 100%;
                            height: 10px;
                            border-radius: 10px 10px 0px 0px;

                        }
                        #cookie1{
                            background-color: $chocolate;
                        }
                        #cookie2{
                            background-color: $vanilla;
                        }
                    }
                    .cookie-row2{
                        @include flexbox(flex, row, center, center);
                        width: 35%;
                        .cookie{
                            margin: 1px;
                            width: 100%;
                            height: 10px;
                            border-radius: 10px 10px 0px 0px;
                        }
                        #cookie1{
                            background-color: $chocolate;
                        }
                    }
                    .tin-row{
                        width: 100%;
                        height: 7px;
                        background-color: rebeccapurple;
                        border-radius: 0px 0px 10px 10px;
                        box-shadow: 5px 10px 18px #888888;
                    }
                }
                #cake-draw{
                    @include flexbox(flex, column, center, center);
                    width: 100%;
                    .cake-top{
                        @include flexbox(flex, row, center, center);  
                        width: 100%;
                        .cherries{
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background-color: crimson;
                        }
                    }
                    .cake-layer1{
                        margin: 0px 2px;
                        width: 90%;
                        height: 7px;
                        background-color: beige;
                        box-shadow: 5px 10px 18px #888888;
                    }
                    .cake-layer2{
                        @extend .cake-layer1;
                        height: 17px;
                        background-color: $fudge;
                        border-radius: 0px 0px 5px 5px;
                    }
                    .tin-row{
                        margin: 2px 2px;
                        width: 90%;
                        height: 7px;
                        background-color: turquoise;
                        border-radius: 0px 0px 10px 10px;
                        box-shadow: 5px 10px 18px #888888;
                    }
                    .pedestal{
                        width: 8%;
                        height: 30px;
                        margin: -2px;
                        background-color: turquoise;
                        box-shadow: 5px 10px 18px #888888;
                    }
                    .tin-row1{
                        @extend .tin-row;
                        border-radius: 10px 10px 0px 0px;
                    }
                }
                #muffin-draw{
                    @include flexbox(flex, column, center, center);
                    width: 80%;
                    margin: 2px;
                    .muffin-row3{
                        @include flexbox(flex, row, center, center);
                        width: 35%;
                        .muffin{
                            @include flexbox(flex, column, center, center);
                            width: 100%;
                            .cookie{
                                margin: 1px;
                                width: 80%;
                                height: 13px;
                                border-radius: 10px 10px 0px 0px;
                            }
                            #cookie1{
                                background-color: $chocolate;
                            }
                            .muffinbot{
                                width: 80%;
                                height: 0; 
                                border-left: 1px solid transparent;
                                border-right: 1px solid transparent;
                            }
                            #muffinbot3{
                                border-top: 10px solid fuchsia;
                            }
                        }
                    }
                    .muffin-row2{
                        @include flexbox(flex, row, center, center);
                        width: 70%;
                        .muffin{
                            @include flexbox(flex, column, center, center);
                            width: 100%;
                            .cookie{
                                margin: 1px;
                                width: 80%;
                                height: 13px;
                                border-radius: 10px 10px 0px 0px;
                            }
                            #cookie4{
                                background-color: pink;
                            }
                            #cookie5{
                                background-color: white;
                            }
                            .muffinbot{
                                width: 80%;
                                height: 0; 
                                border-top: 10px solid $golden-brown;
                                border-left: 1px solid transparent;
                                border-right: 1px solid transparent;
                            }
                        }
                    }
                    .muffin-row{
                        @include flexbox(flex, row, center, center);
                        width: 100%;
                        .muffin{
                            @include flexbox(flex, column, center, center);
                            width: 100%;
                            .cookie{
                                margin: 1px;
                                width: 80%;
                                height: 10px;
                                background-color: $chocolate;
                                border-radius: 10px 10px 0px 0px;
                            }
                            #cookie1{
                                background-color: $chocolate;
                            }
                            #cookie4{
                                background-color: pink;
                            }
                            #cookie6{
                                background-color: turquoise;
                            }
                            .muffinbot{
                                width: 80%;
                                height: 0; 
                                border-left: 1px solid transparent;
                                border-right: 1px solid transparent;
                            }
                            #muffinbot1{
                                border-top: 10px solid turquoise;
                            }
                            #muffinbot2{
                                border-top: 10px solid rebeccapurple;
                            }
                            #muffinbot3{
                                border-top: 10px solid fuchsia;
                            }
                        }
                    }
                    .tin-row{
                        width: 100%;
                        height: 7px;
                        background-color: #00B950;
                        border-radius: 0px 0px 10px 10px;
                        box-shadow: 5px 10px 18px #888888;
                    }
                }
                #register-draw{
                    @include flexbox(flex, column, center, center);
                    width: 20%;
                    #register-pad{
                        @include flexbox(flex, column, center, center);
                        position: relative;
                        top: -20px;
                        width: 100%;
                        height: 65px;
                        background-color: white;
                        border-radius: 10px 10px 10px 10px;
                        box-shadow: 5px 10px 18px #888888;
                        z-index: 0;
                            #register-stand{
                                width: 10%;
                                height: 60px;
                                position: relative;
                                top: 30px;
                                background-color: white;
                                border-radius: 10px 10px 10px 10px;
                                box-shadow: 5px 3px 10px #888888;
                                z-index: 2;
                            }
                    }
                    #register-base{
                        margin-bottom: 3px;
                        width: 90%;
                        height: 7px;
                        background-color: white;
                        border-radius: 10px 10px 10px 10px;
                        box-shadow: 5px 10px 18px #888888;
                    }
                }
            }
            #feature-bottom{
                @include flexbox(flex, column, center, flex-start);
                width: 90%;
                position: relative;
                top: 100px;
                #table-top{
                    border-radius: 1px;
                    background-color: $banner-dark;
                    box-shadow: 5px 10px 18px #888888;
                    width: 90%;
                    height: 10px;
                }
                #table-bottom{
                    @include flexbox(flex, row, flex-start, space-around);
                    margin: 2px 0px 20px 0px;
                    padding: 6px 5px 5px 5px;
                    border-radius: 5px;
                    background-color: #83663D;
                    color: white;
                    text-align: center;
                    width: 90%;
                    z-index: 1;
                }
            }
            #floor{
                width: 101%;

                height: 150px;
                background-color: #eee;
                background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), 
                linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
                background-size:60px 60px;
                background-position:0 0, 30px 30px;
                z-index: 0;
                position: relative;
                top: 20px;

            }
        }
    }
}
.bakedgoods{
    @include flexbox(flex, row, flex-start, space-evenly);
    width: 100%;
    flex-flow: row wrap;
    .bakedgood{
        @include flexbox(flex, column, center, space-around);
        margin: 10px 5px;
        padding: 10px;
        text-align: center;
        width: 30%;
        height: 350px;
        box-shadow: 5px 5px 10px #888888;
        .bakedgood-image {
            text-align: center;
           .bakedgood-img {
                width: 90%;
                height: auto;
           }
        }
        .bakedgood-name, .bakedgood-price{
            text-transform: uppercase;
        }
       
    }
}
footer{
    @include flexbox(flex, column, center, center);
    margin: 20px 0px;
    color: gray;
    font-size: 80%;
    letter-spacing: 1.5px;
    #social{
        text-align: center;
        .icons{
            width: 20%;
            height: auto;
        }
    }
}
//Media Query - iPad Pro
@media all and (min-width: 769px) and (max-width: 1025px){
    section #main-outer{
        height: 1000px;
        #main-inner{
            position: relative;
            top: 350px;
            #floor{
                height: 350px;
            }
        }
    }
    .bakedgoods .bakedgood{
        width: 40%;
    }
}

//Media Query - iPad
@media all and (min-width: 450px) and (max-width: 768px){
    section #main-outer{
        height:700px;
        #main-inner{
            position: relative;
            top: 100px;
            #floor{
                height: 275px;
            }
        }
    }
    .bakedgoods .bakedgood{
        width: 40%;
    }
}

//Media Query - iPhone 6/7/8 Plus
@media all and (min-width: 415px) and (max-width: 449px){
    section #main-outer{
        #main-inner{
            #floor{
                height: 150px;
            }
        }
    }
    .bakedgoods .bakedgood{
        width: 100%;
    }
}

//Media Query - iPhone 6/7/8
@media all and (min-width: 375px) and (max-width: 414px){
    section #main-outer{
        #main-inner{
            #floor{
                height: 150px;
            }
        }
        
    }
    .bakedgoods .bakedgood{
        width: 100%;
    }
}