@import url("https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister");
@import url("https://fonts.googleapis.com/css?family=Josefin+Slab");
@import url("https://fonts.googleapis.com/css?family=Lato");
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  font-family: "Lato", sans-serif; }
  body a, body a:active, body a:link, body a:visited {
    color: white;
    letter-spacing: 1.5px;
    text-decoration: none; }
  body a:hover {
    color: mistyrose;
    letter-spacing: 1.5px;
    text-decoration: none; }

header {
  width: 100%; }
  header #header-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 13vh;
    background: repeating-linear-gradient(to right, #7D3828, #7D3828 40px, #9D432E 40px, #9D432E 90px); }
    header #header-middle #logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 30vh;
      height: 10vh;
      font-family: "Love Ya Like A Sister", cursive;
      font-size: 4vh;
      font-weight: bold;
      text-align: center;
      letter-spacing: 1px;
      line-height: 0.9;
      background-color: beige;
      border: 5px dotted black;
      border-radius: 50%; }
  header #navigation-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px; }
    header #navigation-bar a {
      width: 100%; }
    header #navigation-bar .tab {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background: repeating-linear-gradient(to right, #7D3828, #7D3828 40px, #9D432E 40px, #9D432E 90px);
      width: 100%;
      height: 7vh;
      font-size: 2vh;
      font-weight: bold;
      text-align: center;
      border: 2px solid black;
      border-radius: 10px 10px 100px 100px;
      box-shadow: 5px 10px 18px #888888; }

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; }
  section #main-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: 66vh;
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px;
    overflow: scroll;
    box-shadow: 5px 10px 18px #888888; }
    section #main-outer #main-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      width: 100%; }
      section #main-outer #main-inner #feature-top {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        width: 90%;
        position: relative;
        top: 80px; }
        section #main-outer #main-inner #feature-top a, section #main-outer #main-inner #feature-top a:active, section #main-outer #main-inner #feature-top a:link, section #main-outer #main-inner #feature-top a:visited {
          width: 23%; }
        section #main-outer #main-inner #feature-top #cookie-draw {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          margin: 2px; }
          section #main-outer #main-inner #feature-top #cookie-draw .cookie-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%; }
            section #main-outer #main-inner #feature-top #cookie-draw .cookie-row .cookie {
              margin: 1px;
              width: 100%;
              height: 1.3vh;
              border-radius: 10px 10px 0px 0px; }
            section #main-outer #main-inner #feature-top #cookie-draw .cookie-row #cookie1 {
              background-color: #695130; }
            section #main-outer #main-inner #feature-top #cookie-draw .cookie-row #cookie3 {
              background-color: #ecce1f; }
          section #main-outer #main-inner #feature-top #cookie-draw .cookie-row1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 70%; }
            section #main-outer #main-inner #feature-top #cookie-draw .cookie-row1 .cookie {
              margin: 1px;
              width: 100%;
              height: 1.3vh;
              border-radius: 10px 10px 0px 0px; }
            section #main-outer #main-inner #feature-top #cookie-draw .cookie-row1 #cookie1 {
              background-color: #695130; }
            section #main-outer #main-inner #feature-top #cookie-draw .cookie-row1 #cookie2 {
              background-color: #F2B600; }
          section #main-outer #main-inner #feature-top #cookie-draw .cookie-row2 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 35%; }
            section #main-outer #main-inner #feature-top #cookie-draw .cookie-row2 .cookie {
              margin: 1px;
              width: 100%;
              height: 1.3vh;
              border-radius: 10px 10px 0px 0px; }
            section #main-outer #main-inner #feature-top #cookie-draw .cookie-row2 #cookie1 {
              background-color: #695130; }
          section #main-outer #main-inner #feature-top #cookie-draw .tin-row, section #main-outer #main-inner #feature-top #cookie-draw #cake-draw .tin-row1, section #main-outer #main-inner #feature-top #cake-draw #cookie-draw .tin-row1 {
            width: 100%;
            height: 1vh;
            background-color: rebeccapurple;
            border-radius: 0px 0px 10px 10px;
            box-shadow: 5px 10px 18px #888888; }
        section #main-outer #main-inner #feature-top #cake-draw {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%; }
          section #main-outer #main-inner #feature-top #cake-draw .cake-top {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%; }
            section #main-outer #main-inner #feature-top #cake-draw .cake-top .cherries {
              width: 1.5vh;
              height: 1.5vh;
              border-radius: 50%;
              background-color: crimson; }
          section #main-outer #main-inner #feature-top #cake-draw .cake-layer1, section #main-outer #main-inner #feature-top #cake-draw .cake-layer2 {
            margin: 0px 2px;
            width: 90%;
            height: 1vh;
            background-color: beige;
            box-shadow: 5px 10px 18px #888888; }
          section #main-outer #main-inner #feature-top #cake-draw .cake-layer2 {
            height: 2vh;
            background-color: #79391b;
            border-radius: 0px 0px 5px 5px; }
          section #main-outer #main-inner #feature-top #cake-draw .tin-row, section #main-outer #main-inner #feature-top #cake-draw .tin-row1 {
            margin: 2px 2px;
            width: 90%;
            height: 1vh;
            background-color: turquoise;
            border-radius: 0px 0px 10px 10px;
            box-shadow: 5px 10px 18px #888888; }
          section #main-outer #main-inner #feature-top #cake-draw .pedestal {
            width: 8%;
            height: 4vh;
            margin: -2px;
            background-color: turquoise;
            box-shadow: 5px 10px 18px #888888; }
          section #main-outer #main-inner #feature-top #cake-draw .tin-row1 {
            border-radius: 10px 10px 0px 0px; }
        section #main-outer #main-inner #feature-top #muffin-draw {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 80%;
          margin: 2px; }
          section #main-outer #main-inner #feature-top #muffin-draw .muffin-row3 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 35%; }
            section #main-outer #main-inner #feature-top #muffin-draw .muffin-row3 .muffin {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              width: 100%; }
              section #main-outer #main-inner #feature-top #muffin-draw .muffin-row3 .muffin .muffintop {
                margin: 1px;
                width: 80%;
                height: 1.5vh;
                border-radius: 10px 10px 0px 0px; }
              section #main-outer #main-inner #feature-top #muffin-draw .muffin-row3 .muffin #cookie1 {
                background-color: #695130; }
              section #main-outer #main-inner #feature-top #muffin-draw .muffin-row3 .muffin .muffinbot {
                width: 80%;
                height: 0;
                border-left: 1px solid transparent;
                border-right: 1px solid transparent; }
              section #main-outer #main-inner #feature-top #muffin-draw .muffin-row3 .muffin #muffinbot3 {
                border-top: 10px solid fuchsia; }
          section #main-outer #main-inner #feature-top #muffin-draw .muffin-row2 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 70%; }
            section #main-outer #main-inner #feature-top #muffin-draw .muffin-row2 .muffin {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              width: 100%; }
              section #main-outer #main-inner #feature-top #muffin-draw .muffin-row2 .muffin .muffintop {
                margin: 1px;
                width: 80%;
                height: 1.5vh;
                border-radius: 10px 10px 0px 0px; }
              section #main-outer #main-inner #feature-top #muffin-draw .muffin-row2 .muffin #cookie4 {
                background-color: pink; }
              section #main-outer #main-inner #feature-top #muffin-draw .muffin-row2 .muffin #cookie5 {
                background-color: white; }
              section #main-outer #main-inner #feature-top #muffin-draw .muffin-row2 .muffin .muffinbot {
                width: 80%;
                height: 0;
                border-top: 10px solid #ecce1f;
                border-left: 1px solid transparent;
                border-right: 1px solid transparent; }
          section #main-outer #main-inner #feature-top #muffin-draw .muffin-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%; }
            section #main-outer #main-inner #feature-top #muffin-draw .muffin-row .muffin {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              width: 100%; }
              section #main-outer #main-inner #feature-top #muffin-draw .muffin-row .muffin .muffintop {
                margin: 1px;
                width: 80%;
                height: 1.5vh;
                background-color: #695130;
                border-radius: 10px 10px 0px 0px; }
              section #main-outer #main-inner #feature-top #muffin-draw .muffin-row .muffin #cookie1 {
                background-color: #695130; }
              section #main-outer #main-inner #feature-top #muffin-draw .muffin-row .muffin #cookie4 {
                background-color: pink; }
              section #main-outer #main-inner #feature-top #muffin-draw .muffin-row .muffin #cookie6 {
                background-color: turquoise; }
              section #main-outer #main-inner #feature-top #muffin-draw .muffin-row .muffin .muffinbot {
                width: 80%;
                height: 0;
                border-left: 1px solid transparent;
                border-right: 1px solid transparent; }
              section #main-outer #main-inner #feature-top #muffin-draw .muffin-row .muffin #muffinbot1 {
                border-top: 10px solid turquoise; }
              section #main-outer #main-inner #feature-top #muffin-draw .muffin-row .muffin #muffinbot2 {
                border-top: 10px solid rebeccapurple; }
              section #main-outer #main-inner #feature-top #muffin-draw .muffin-row .muffin #muffinbot3 {
                border-top: 10px solid fuchsia; }
          section #main-outer #main-inner #feature-top #muffin-draw .tin-row, section #main-outer #main-inner #feature-top #muffin-draw #cake-draw .tin-row1, section #main-outer #main-inner #feature-top #cake-draw #muffin-draw .tin-row1 {
            width: 100%;
            height: 1vh;
            background-color: #00B950;
            border-radius: 0px 0px 10px 10px;
            box-shadow: 5px 10px 18px #888888; }
        section #main-outer #main-inner #feature-top #register-draw {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 20%; }
          section #main-outer #main-inner #feature-top #register-draw #register-pad {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            top: -20px;
            width: 100%;
            height: 10vh;
            background-color: white;
            border-radius: 10px 10px 10px 10px;
            box-shadow: 5px 10px 18px #888888;
            z-index: 0; }
            section #main-outer #main-inner #feature-top #register-draw #register-pad #register-stand {
              width: 10%;
              height: 9vh;
              position: relative;
              top: 30px;
              background-color: white;
              border-radius: 10px 10px 10px 10px;
              box-shadow: 5px 3px 10px #888888;
              z-index: 2; }
          section #main-outer #main-inner #feature-top #register-draw #register-base {
            margin-bottom: 3px;
            width: 90%;
            height: 1vh;
            background-color: white;
            border-radius: 10px 10px 10px 10px;
            box-shadow: 5px 10px 18px #888888; }
      section #main-outer #main-inner #feature-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        position: relative;
        top: 80px; }
        section #main-outer #main-inner #feature-bottom #table-top {
          border-radius: 2px;
          background-color: #7D3828;
          box-shadow: 5px 10px 18px #888888;
          width: 80%;
          height: 2vh; }
        section #main-outer #main-inner #feature-bottom #table-bottom {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: space-around;
          width: 80%;
          height: 30vh;
          margin: 2px 0px 20px 0px;
          padding: 6px 5px 5px 5px;
          border-radius: 5px;
          background-color: #83663D;
          color: white;
          font-size: 2vh;
          text-align: center;
          z-index: 1; }
      section #main-outer #main-inner #floor {
        width: 100%;
        height: 19vh;
        background-color: #eee;
        background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
        background-size: 60px 60px;
        background-position: 0px 0px, 30px 30px;
        z-index: 0; }

.bakedgoods {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  flex-flow: row wrap; }
  .bakedgoods .modal-header {
    text-transform: uppercase; }
    .bakedgoods .modal-header .modal-title {
      white-space: nowrap; }
  .bakedgoods .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .bakedgoods .btn, .bakedgoods .btn-primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px 5px;
    padding: 10px;
    background-color: white;
    border-color: white;
    color: black;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: center;
    width: 30%; }
    .bakedgoods .btn :hover, .bakedgoods .btn-primary :hover {
      background-color: beige; }
    .bakedgoods .btn .bakedgood, .bakedgoods .btn-primary .bakedgood {
      width: 100%;
      box-shadow: 5px 5px 10px #888888; }
      .bakedgoods .btn .bakedgood .bakedgood-image, .bakedgoods .btn-primary .bakedgood .bakedgood-image {
        text-align: center; }
        .bakedgoods .btn .bakedgood .bakedgood-image .bakedgood-img, .bakedgoods .btn-primary .bakedgood .bakedgood-image .bakedgood-img {
          width: 90%;
          height: auto; }
      .bakedgoods .btn .bakedgood .bakedgood-name, .bakedgoods .btn .bakedgood .bakedgood-price, .bakedgoods .btn-primary .bakedgood .bakedgood-name, .bakedgoods .btn-primary .bakedgood .bakedgood-price {
        text-transform: uppercase; }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  color: gray;
  font-size: 50%;
  letter-spacing: 1.5px; }
  footer #social {
    text-align: center; }
    footer #social a {
      font-size: 3vw;
      color: gray; }

@media all and (min-width: 415px) and (max-width: 768px) {
  section #main-outer {
    height: 68vh; }

  .bakedgoods .btn, .bakedgoods .btn-primary {
    width: 40%; } }
@media all and (min-width: 320px) and (max-width: 414px) {
  section #main-outer {
    height: 66vh; }
    section #main-outer #main-inner #feature-bottom #table-bottom {
      font-size: 1.5vh; }

  .bakedgoods .btn, .bakedgoods .btn-primary {
    width: 100%; }

  footer #social a {
    font-size: 4vw; } }

/*# sourceMappingURL=style.css.map */
