@import url("https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister");
@import url("https://fonts.googleapis.com/css?family=Josefin+Slab");
@import url("https://fonts.googleapis.com/css?family=Lato");
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  min-width: 300px;
}

a, a:hover {
  letter-spacing: 1.5px;
  text-decoration: none;
}

header {
  color: white;
  font-family: "Love Ya Like A Sister", cursive;
  font-weight: bold;
}

header a, header a:hover, header a:visited {
  color: white;
}

.banner {
  height: 13vh;
  min-height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  background: repeating-linear-gradient(to right, #195f53, #195f53 40px, #379637 40px, #379637 90px);
}

.title, .navigation-bar, .baked-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.logo {
  width: 10vw;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.bakery-name {
  font-size: 1.8rem;
}

.navigation-bar a {
  text-transform: lowercase;
}

.menu-item {
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 7vh;
  min-height: 50px;
  border: 2px solid black;
  border-radius: 10px 10px 100px 100px;
  -webkit-box-shadow: 5px 10px 18px #888888;
          box-shadow: 5px 10px 18px #888888;
  background: repeating-linear-gradient(to right, #195f53, #195f53 60px, #379637 60px, #379637 110px);
}

.main-outer {
  width: 90%;
  min-width: 280px;
  height: 70vh;
  margin: 2vh auto;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gold {
  background-color: gold;
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 5px 10px 18px #888888;
          box-shadow: 5px 10px 18px #888888;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.feature-top {
  margin: 0 auto;
  width: 100%;
}

.feature-top a, .feature-top a:active, .feature-top a:link, .feature-top a:visited {
  width: 30%;
}

.goods {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.group {
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.good {
  width: 100%;
  margin: 0 3px;
}

.row-30 {
  width: 30%;
}

.row-60 {
  width: 60%;
}

.row-100, .platter {
  width: 90%;
}

.pastry, .cookie, .muffintop {
  margin: 1px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.cookie {
  height: 1vh;
}

.top-cookie {
  -webkit-animation: shake 3s infinite;
          animation: shake 3s infinite;
}

.cherry {
  width: 1.5vh;
  height: 1.5vh;
  border-radius: 50%;
  background-color: crimson;
  -webkit-animation: bounce 3s 0s infinite;
          animation: bounce 3s 0s infinite;
  position: relative;
}

.cherry:nth-child(2), .cherry:nth-child(4) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.frosting {
  width: 100%;
  height: 1vh;
  background-color: beige;
}

.cake {
  width: 100%;
}

.cake-layer {
  width: 100%;
  height: 2vh;
  background-color: #79391b;
}

.cake-bottom {
  border-radius: 0 0 5px 5px;
}

.top-muffin {
  -webkit-animation: stretch 4s infinite;
          animation: stretch 4s infinite;
}

.muffintop {
  height: 1.5vh;
  margin: 0 auto;
}

.muffinbot {
  width: 80%;
  margin: 0 auto;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 10px solid;
}

.pedestal {
  width: 8%;
  height: 4vh;
  margin: -2px auto;
  -webkit-box-shadow: 5px 10px 18px #888888;
          box-shadow: 5px 10px 18px #888888;
}

.tin-row, .tin-row1, .tin-row2 {
  width: 100%;
  height: 1vh;
  margin: 2px 0;
  -webkit-box-shadow: 5px 10px 18px #888888;
          box-shadow: 5px 10px 18px #888888;
}

.tin-row1 {
  border-radius: 0px 0px 10px 10px;
}

.tin-row2 {
  border-radius: 10px 10px 0px 0px;
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.counter-top {
  width: 90%;
  height: 2vh;
  background-color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 5px 10px 18px #888888;
          box-shadow: 5px 10px 18px #888888;
}

.counter-bottom {
  width: 85%;
  height: 18vh;
  margin: 0 auto;
  background-color: rgba(0, 206, 209, 0.4);
  border-radius: 5px;
  position: relative;
  top: -11vh;
  margin-top: -18vh;
}

.display-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.display-row {
  width: 90%;
  height: 0.5vh;
  background-color: rgba(0, 206, 209, 0.7);
  margin: 2px 0 10px 0;
}

.floor {
  width: 100%;
  height: 14vh;
  background-color: #eee;
  background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
  background-size: 60px 60px;
  background-position: 0px 0px, 30px 30px;
}

.feature-header {
  color: #379637;
  font-family: "Love Ya Like A Sister", cursive;
  text-transform: uppercase;
}

.feature-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feature-text {
  margin-right: 30px;
}

.feature-image {
  width: 100%;
  height: auto;
}

.feature-image, .feature-image2 {
  padding: 10px 0;
}

.days {
  width: 100px;
}

.feature-main {
  font-size: 2rem;
}

.feature-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -5vh;
}

.feature-menu {
  margin: 0 25px 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-menu a {
  font-family: "Love Ya Like A Sister", cursive;
  color: #fff;
  background: #195f53;
  text-decoration: none;
  position: relative;
  line-height: 30px;
  margin: 3px;
  padding: 0 8px;
  text-transform: uppercase;
}

.feature-menu a::before, .feature-menu a::after {
  content: "";
  position: absolute;
  border-color: #195f53;
  border-style: solid;
  border-width: 15px 6px;
}

.feature-menu a::before {
  left: -5px;
  border-left-color: transparent;
}

.feature-menu a::after {
  left: 100%;
  border-color: transparent;
  border-left-color: #195f53;
}

.feature-menu a:nth-child(2) {
  background: #379637;
}

.feature-menu a:nth-child(2)::before, .feature-menu a:nth-child(2)::after {
  border-color: #379637;
}

.feature-menu a:nth-child(2)::before {
  left: -12px;
  border-color: transparent;
  border-right-color: #379637;
}

.feature-menu a:nth-child(2)::after {
  left: 100%;
  border-right-color: transparent;
}

.feature-menu a:hover {
  background-color: darkturquoise;
}

.feature-menu a:hover::before {
  border-color: darkturquoise;
  border-left-color: transparent;
}

.feature-menu a:hover::after {
  border-left-color: darkturquoise;
}

.feature-menu a:nth-child(2):hover::before {
  border-color: transparent;
  border-right-color: darkturquoise;
}

.feature-menu a:nth-child(2):hover::after {
  border-color: darkturquoise;
  border-right-color: transparent;
}

.feature-menu :focus {
  outline: none;
}

.feature-menu-bg {
  position: relative;
  top: -10vh;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-menu-stand {
  background: rosybrown;
  width: .5vw;
  height: 15vh;
}

.feature-menu-ground {
  width: 100px;
  border: 1px solid black;
}

.feature-main {
  height: 37vh;
  overflow: auto;
}

.feature-flex {
  display: -ms-grid;
  display: grid;
  overflow: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bakedgoods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.modal-title {
  white-space: nowrap;
}

.modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.modal-body p {
  font-size: 1rem;
}

.modal-img {
  width: 50%;
  padding-right: 15px;
}

.btn {
  background: transparent;
}

.btn-primary {
  border: black;
  color: black;
}

.bakedgood-img {
  width: 80%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: white;
}

footer a {
  color: gray;
  font-size: 2em;
  padding: 0 10px;
}

@-webkit-keyframes bounce {
  0% {
    bottom: 0px;
  }
  10% {
    bottom: 10px;
  }
  20% {
    bottom: 0px;
  }
  30% {
    bottom: 5px;
  }
  40%, 100% {
    bottom: 0px;
  }
}

@keyframes bounce {
  0% {
    bottom: 0px;
  }
  10% {
    bottom: 10px;
  }
  20% {
    bottom: 0px;
  }
  30% {
    bottom: 5px;
  }
  40%, 100% {
    bottom: 0px;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  5% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  10% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  15% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  20% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  25% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  30%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  5% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  10% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  15% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  20% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  25% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  30%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes stretch {
  from {
    width: 80%;
    height: 1.5vh;
  }
  10% {
    width: 100%;
    height: 1.3vh;
  }
  20% {
    width: 70%;
    height: 1.7vh;
  }
  30% {
    width: 100%;
    height: 1.3vh;
  }
  40% {
    width: 70%;
    height: 1.7vh;
  }
  50%, 100% {
    width: 80%;
    height: 1.5vh;
  }
}

@keyframes stretch {
  from {
    width: 80%;
    height: 1.5vh;
  }
  10% {
    width: 100%;
    height: 1.3vh;
  }
  20% {
    width: 70%;
    height: 1.7vh;
  }
  30% {
    width: 100%;
    height: 1.3vh;
  }
  40% {
    width: 70%;
    height: 1.7vh;
  }
  50%, 100% {
    width: 80%;
    height: 1.5vh;
  }
}

.maroon {
  background-color: maroon;
}

.peru {
  background-color: peru;
}

.pink {
  background-color: pink;
}

.white {
  background-color: white;
}

.darkturquoise {
  background-color: darkturquoise;
}

.rebeccapurple {
  background-color: rebeccapurple;
}

.hotpink {
  background-color: hotpink;
}

.darkviolet {
  color: darkviolet;
}

.limegreen {
  color: limegreen;
}

.fuchsia {
  color: fuchsia;
}

@media (min-width: 768px) {
  .bakery-name {
    font-size: 2.5rem;
  }
  .navigation-bar a {
    font-size: 1.5rem;
  }
  .cookie, .muffintop {
    border-radius: 30px 30px 5px 5px;
  }
  .cookie, .frosting, .tin-row, .tin-row1, .tin-row2 {
    height: 2vh;
  }
  .cherry {
    width: 3vh;
  }
  .cake-layer {
    height: 4vh;
  }
  .cake-bottom {
    border-radius: 0 0 10px 10px;
  }
  .pedestal {
    height: 6vh;
  }
  .cherry, .muffintop {
    height: 3vh;
  }
  .muffinbot {
    border-top: 11px solid;
  }
  .counter-bottom {
    height: 22vh;
    margin-top: -22vh;
    top: -12vh;
  }
  .feature-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .feature-image {
    width: auto;
    height: 60vh;
  }
  .feature-main {
    height: 64vh;
  }
  .feature-sign {
    margin-bottom: 0;
  }
  .feature-flex {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (35vw)[2];
        grid-template-columns: repeat(2, 35vw);
    overflow: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1024px) {
  .logo {
    width: 6vw;
  }
  .bakery-name {
    font-size: 3rem;
  }
  .feature-top {
    width: 90%;
  }
  .feature-flex {
    -ms-grid-columns: (26vw)[3];
        grid-template-columns: repeat(3, 26vw);
  }
  .counter-bottom {
    width: 75%;
  }
}

@media (min-width: 1440px) {
  .cake-bottom {
    border-radius: 0 0 20px 20px;
  }
  .counter-bottom {
    top: -11vh;
  }
  .feature-flex {
    -ms-grid-columns: (20vw)[4];
        grid-template-columns: repeat(4, 20vw);
  }
}

@media (min-width: 2560px) {
  body {
    font-size: 2rem;
  }
  .bakery-name {
    font-size: 5rem;
  }
  .navigation-bar a {
    font-size: 3rem;
  }
  .muffinbot {
    border-top: 25px solid;
  }
  .feature-header {
    font-size: 3.5rem;
  }
  .feature-image2 {
    width: 30vw;
    height: auto;
  }
  .counter-bottom {
    top: -9vh;
  }
  .feature-menu-bg {
    top: -5vh;
  }
  .feature-menu-stand {
    height: 10vh;
  }
}
/*# sourceMappingURL=style.css.map */