$banner-dark:rgb(55, 150, 55);
$chocolate: #695130;
$golden-brown: #ecce1f;
$vanilla: #F2B600;
$fudge: #79391b;

$bglist: (maroon, peru, pink, white, darkturquoise, rebeccapurple, hotpink);

$list: (darkviolet, limegreen, fuchsia);