@mixin flexbox($display, $direction, $align){
    display: $display;
    flex-direction: $direction;
    align-items: $align;
}

@mixin whbgc($width, $height, $bg-color){
    width: $width;
    height: $height;
    background-color: $bg-color;
}